* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 600px;
    background-image: url(../img/background.jpg);
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 70%;
    position: relative;
}

header h1 {
    background-color: rgba(81, 105, 126, 0.628);
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}