 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Josefin Sans';
    text-align: center;
}

.header {
    text-align: center;
    background-color: black;
}

.header h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding-top: 80px;
    padding-bottom: 10px;
}

.header .pb {
    font-size: 1.2em;
}

.header .e {
    font-size: 0.8em;
}

.listra {
    display: inline-block;
    width: 400px;
    height: 5px;
    background-color: white;
    margin-bottom: 80px;
}

main .initial {
    display: inline-block;
    background-image: url(../img/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    max-height: 660px;
    background-attachment: fixed;
}

.initial img {
    margin: auto;
    padding: 20px;
    max-width: 400px;
}

.initial  p {
    padding: 20px 60px;
    margin: auto;
    color: rgb(196, 196, 196);
    background-color: rgb(0, 0, 0);
    max-width: 100%;
}

.quite {
    text-align: center;
}

.quite h2 {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.quite p {
    color: rgb(0, 0, 0);
    padding: 20px 40px 20px 40px;
    margin: auto;
    max-width: 950px;

}

.quite img {
    max-width: 400px;
    display: inline-block;
    background-color: black;
    padding: 40px;
}

.section {
    background-color: black;
}

.section span {
    align-items: center;
    text-align: center;
    display: inline-flex;
}

.section span {
    color: white;
    max-width: 800px;
}

.section  p {
    color: white;
    padding: 20px;
}

.section span img {
    max-width: 400px;
    padding: 20px;
}

.finale {
    display: inline-block;
    max-width: 800px;
}

.finale span {
    text-align: center;
    display: flex;
    padding: 20px 20px 20px 10px;
}

.finale span p {
    max-width: 400px;
    margin: auto;
}

.finale span ul {
    background-color: black;
    padding: 25px;
    margin: 15px;
}

.finale span ul li {
    color: white;
}

.finale p {
    padding-bottom: 20px;
}

footer {
    background-color: black;
}

footer p {
    color: white;
    padding: 20px;
}

@media (max-width: 810px) {
    .initial p {
        font-size: 0.9em;
        padding: 30px 20px 30px 20px;
    }

    .initial img {
        width: 350px;
    }

    .quite p {
        font-size: 0.9em;
        padding: 30px 20px 30px 20px;
    }

    .quite img {
        width: 340px;
        padding: 20px;
    }

    .section span p {
        margin: auto;
        width: 200px;
        padding-left: 10px;
    }

    .section span img {
        width: 350px;
    }
}

@media (max-width: 630px) {
    .section span {
        display: inline-block;
    }

    .section span p {
        padding: 0px;
    }
}

@media (max-width: 490px) {

    p {
        font-size: 0.9em;
    }

    .header h1 {
        font-size: 1.5em;
        padding-top: 40px;
    }

    .listra {
        width: 240px;
        margin-bottom: 40px;
    }

    .initial p {
        font-size: 0.9em;
        padding: 30px 20px 30px 20px;
    }

    .initial img {
        width: 250px;
    }

    .quite p {
        font-size: 0.9em;
        padding: 30px 20px 30px 20px;
    }

    .quite img {
        width: 230px;
        padding: 20px;
    }

    .section span img {
        width: 280px;
    }
}

html ::-webkit-scrollbar {
    width: 10px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #1f1f3e;
  }
  html ::-webkit-scrollbar-track {
    background: #ededed;
  }
/*
main div {
    background-image: url('../img/fundo2.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.inicio article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 700px;
    height: 300px;
    display: inline-flex;
}

.inicio article p {
    color: rgb(184, 184, 184);
    padding: 40px 40px ; 
}

main > .inicio article img {
    padding: 20px 20px 20px 20px;
    height: 250px;
}

main {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

main h1 {
    font-family: 'Josefin Sans', sans-serif;
    padding: 25px;
    font-size: 2em;
    margin-right: 20%;
}

main .h1 {
    font-size: 1.2em;
}
 
main p {
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    font-size: 1.2em;
}

.article {
    height: 600px;
    margin: 20px;
}

.article section {
    padding: 30px;
    background-color: black;
    align-items: center;
    display: inline-flex;
    margin: auto;
}

.article section p {
    color: rgb(184, 184, 184);
    max-width: 300px;
    text-align: justify;
    font-size: 1.2em;
}

.article section img{
    margin: auto;
    max-width: 400px;
    max-height: max-content;
    display: inline-flex;
}

.section {
    background-color: black;
    min-height: 400px;
}

.section p {
    color: rgb(184, 184, 184);
} 
.section .meio {
    display: inline-flex;
    padding-top: 20px;
}

.section .meio p {
    color: rgb(184, 184, 184);
    max-width: 500px;
}

.section .meio img {
    max-width: 500px;
    max-height: 260px;
    padding: 20px;
}

.final {
   padding: 20px;
}

.final span {
    padding: 10px 0 0 0;
    display: inline-flex;
    align-items: center;
}

.final span p {
    width: 400px;
    margin-left:10px;
}

.final span ul {
    padding: 30px 30px 30px 30px;
    background-color: black;
}

.final span ul li {
    color: white;
}

.final p {
    max-width: 1000px;
}

footer {
    background-color: black;
}

footer p {
    color: white;
    padding: 10px;
}

@media (max-width: 860px) {
    .article {
        max-width: 860px;
    }

    .article section {
        background-color: black;
        align-items: center;
        display: inline-flex;
    }

    .article section p {
        color: white;
    }
    .article section img{
        padding: 30px;
        margin: auto;
        max-width: 400px;
        max-height: 420px;
        display: inline-flex;
    }
}

@media (max-width: 760px) {
    .article section img {
        width: 250px;
    }

    .section .meio img {
        width: 350px;
        }
} */