* {
    margin: 0xp;
    padding: 0px;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sla {
    max-width: 800px;
    margin: auto;
    padding: 20px 40px;
}

div {
    display: inline;
    margin: auto;
}

iframe {
    margin: auto;
    display: inline-block;
}

form {
    background-color: rgb(190, 190, 190);
    display: list-item;
    padding: 20px;
    margin: 5px;
}

article {
    padding-top: 30px;
    margin: auto;
}

article p {
    text-align: justify;
    max-width: 800px;
    margin: auto;
    padding: 20px 40px;
}
@media (min-width: 546px) {
 div {
        display: inline-flex;
    }
}